/** {
    border-style: dotted;
    border-width: 1px;
}*/

h1{
    text-align: center;
    font-weight: bold;
}

.content {
    padding: 50px;
    background-color: lightgray;
}

.ig-post {
    height: 500px;
    width: 500px;
    margin-bottom: 50px !important;
    margin: auto;
    background-color: white;
}

.post-top {
    height: 7%;
    display: flex;
    align-items: center;
}

.post-top p, .post-bottom p {
    margin: 10px;
}

.post-title {
    width:100%;
    font-weight: bold;
}

.post-counter {
    color: grey;
}

.post-content {
    height:80%;
}

.post-image {
    height: 100%;
    width:100%;
}

.post-bottom {
    height: 13%;
    display:flex;
    align-items: center;
}